.banner{
    width:100%;
    height:540px;
    background:@linerBackground;
}
.ant-carousel .slick-slide {
  text-align: center;
  width:100%;
  height:540px;
  background: #364d79;
  overflow: hidden;
}
