html,body{
  min-width:1200px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner{
    width:100%;
    //background:@linerBackground;
    &_item{
      width:1200px;
      height:540px;
      margin:0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_image{
        width:50%;
      }
      &_info{
        width:50%;
        text-align:left;
        h1{
          font-size:40px;
          color:@titleColor;
          line-height:50px;
          margin-bottom:10px;
        }
        p{
          font-size: 30px;
          line-height: 40px;
          color:@titleColor;
          margin-bottom: 35px;
        }
      }
    }
}
// .ant-carousel .slick-slide {
//   text-align: center;
//   width:100%;
//   height:540px;
//   overflow: hidden;
// }
.ant-carousel .slick-dots li{
  margin: 0 4px;
  &>button{
    width:2px !important;
    height:10px !important;
    border-radius:2px !important;
    background:#000 !important;
    opacity:0.2 !important;
  }
  &.slick-active{
    &>button{
      width:2px !important;
      height:16px !important;
      border-radius:2px !important;
      background:@primary-color !important;
      opacity:1 !important;
      position: relative !important;
      top:-3px !important;
    }
  }
}
.advantages{
    width:100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    text-align:center;
    .image{
      width:56px;
      height:56px;
      margin:0 auto;
    }
    .title{
      font-size: 22px;
      color: @titleColor;
      line-height: 40px;
      margin-top: 20px;
    }
    .content{
      font-size: 16px;
      color: #666;
    }
  }

.w1200{
  width:1200px;
  margin:0 auto;
}
//按钮组样式
.btnInlineGroup{
  .bigLarge{
    width:180px;
    height:52px;
    &:nth-child(1){
      margin-right:23px;
    }
  }
}

  .bigLarge{
    width:180px;
    height:52px;
  }


.wFull{
  width:100%;
  &.bgF7FBFF{
    background:#F7FBFF;
  }
  &.commonBar{
    padding-top:80px;
    background:@linerBackground;
    padding-bottom:80px;
    margin-top:50px;
    text-align:center;
    h1{
      text-align:center;
      font-size: 36px;
      color: #fff;
    }
  }
}


.about{
  .fullH1{
    padding-top: 60px;
     padding-bottom: 61px;
     font-size: 40px;
     color: #333;
     text-align: center;
 }
 .about-content{
   font-size:14px;
   margin-bottom:25px;
 }
}
//pc端样式
.h3{
    height: 85px;
    line-height: 85px;
    font-size: 24px;
    color: #333;
}
.title20{
  font-size:20px;
  color:#333;
}
//字体大小
.textFontSize14{
  font-size:14px;
}
.textFontSize16{
  font-size:16px;
}
.textFontSize18{
  font-size:18px;
}
.textFontSize20{
  font-size:20px;
}
.textFontSize28{
  font-size:28px;
}
.textFontSize32{
  font-size:32px;
}
.textFontSize30{
  font-size:30px;
}
.textFontSize48{
  font-size:48px;
}
//字体加粗
.fontweight600{
  font-weight:600;
}
//字体行高度
.textLineHeight30{
    line-height:30px;
}
.textLineHeight50{
  line-height:40px;
}
.textLineHeight20{
  line-height:20px;
}
//字体颜色
.textColorPrimary{
  color:@primary-color;
}
.textColor666{
  color:#666;
}
.textColor333{
  color:#333;
}
.textColor808{
  color:#808695;
}
.colorWhite{
  color:#fff;
}
//字体居中方式
.textLeft{
  text-align:left;
}
.textCenter{
  text-align: center;
}
.textRight{
  text-align:right;
}
//文字缩进
.textIndent{
  text-indent:2em;
}
//margin样式
.mgt30{
  margin-top:30px;
}
.mgt15{
  margin-top:15px;
}
.mgb18{
  margin-bottom:18px;
}
.mgb36{
  margin-bottom:36px;
}
.mgb50{
  margin-bottom:50px;
}
.mgb30{
  margin-bottom:30px;
}
.mga{
  margin:0 auto;
}
//padding样式
.p20{
  padding:20px;
}
.pd20{
  padding:20px;
}
.pdb40{
  padding-bottom:40px;
}
.pdt80{
  padding-top:80px;
}
.pdb30{
  padding-bottom:30px;
}
.pdl60{
  padding-left:60px;
}
.pdl73{
  padding-left:73px;
}
.pdr60{
  padding-right:60px;
}
.pdr73{
  padding-right:73px;
}
.pdt120{
  padding-top: 120px;
}
.pdt20{
  padding-top:20px;
}
.prl20{
  padding:0 20px;
}

// 圆角样式
.radius5{
  border-radius:5px;
}
.radius10{
  border-radius:10px;
}

.bgCommon{
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}
//定位
.pRealtive{
  position: relative;
}
.pAbsolute{
  position: absolute;
}

//溢出影藏
.overfowHidden{
  overflow: hidden;
}
//渠道商banner
.channelBanner{
  height:480px;
  background:@linerBackground;
  display:flex;
  align-items:center;
}
.largeTtle{
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 20px;
}
.channelTitle{
  margin: 0 auto 50px;
  line-height: 30px;
  font-size: 32px;
  color: #333;
  font-weight: 300;
}
.IconLael{
  position:relative;
  .icon{
    width:38px;
    height:38px;
    position:absolute;
    left:0;
    top:0;
    background:@linerBackground;
  }

}

.box{
  width:360px;
  height:300px;
  position:relative;
  margin:0 auto;
  //background:@linerBackground;
  //box-shadow: 
  .mask{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.2);
  }
}

//阴影
.boxShowdow{
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
}
//鼠标滑过动画
.hoverBoxScale{
  &:hover{
    transition:.5s;
    transform:scale(1.1);
  }
}
//home样式
.homeMask{
  .img{
    width:100%;
    height:80px;
    position:relative;
    &::after{
      position:absolute;
      content:'';
      width:30px;
      height:7px;
      background:@linerBackground;
      border-radius:8px;
      bottom:0;
      left:50%;
      transform:translateX(-50%);
    }
  }
}
.homeUsers{
  padding-top:10px;
  width:360px;
  padding-left:30px;
  position: relative;
  margin:0 auto;
  &::after{
    content:'*';
    position:absolute;
    font-size:30px;
    color:@primary-color;
    position:absolute;
    top:5px;
    left:5px;
  }
  
}

//图片占位符样式
.himage{
  width:100%;
  height:460px;
}

.specilItem3{
  width:360px;
  .img{
    width:100%;
    height:360px;
    background:@linerBackground;
  }
  .sICON{
    top:-29px;
    left:50%;
    transform:translate(-50%);
  }
}


//业务板块样式
.bussinessItem{
    width:100%;
    height:370px;
    padding-top:100px;
    transition:0.35s;
    .bussinessImg{
      height:120px;
      width:120px;
      background-size:contain;
      background-repeat:no-repeat;
      background-position:center;
      transition:0.35s;
    }
    p{
      opacity:0;
    }
    &:hover{
      padding-top:20px;
      .bussinessImg{
        transform: scale(0.9);
      }
      p{
        opacity:1;
      }
    }
}

//代理商申请加盟表
.joinCrad{
      width:500px;
      margin:0 auto;
      height:800px;
}

//登录界面样式
.login{
  widows: 100% !important;
  height:100vh !important;
  position: relative;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  overflow: hidden;
 &-info{
   width:100%;
   height:100vh;
   background:rgba(0,0,0,0.6);
   display:flex;
   justify-content: center;
   align-items:center;
 }
 &-box{
   width:100%;
   height:100vh;
   background:#fff;
   display:flex;
   justify-content:center;
   align-items:center;
   &-card{
     width:400px;
     .login-form-button{
       width:100%;
     }
   }
 }
}

.animationScale{
  animation-name:scaleXy;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
  animation-direction:alternate
}


@keyframes scaleXy {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.boxshowTb{
    box-shadow: 0 0 13px rgba(175,177,193,.15), 0 6px 20px rgba(24,29,39,.05);
    position: relative;
    top:-5px;
}